@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyFont";
  src: url("../src/assets/font/Kanit-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyFontBold";
  src: url("../src/assets/font/Kanit-SemiBold.ttfpe");
  font-weight: bold;
  font-style: normal;
}

.hovermenuNav {
  @apply relative after:absolute after:bottom-0 after:left-0 after:h-[1.8px] after:w-0 after:bg-slate-900 after:transition-all after:duration-300 after:ease-in-out hover:after:w-full;
}